@charset "utf-8";
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);

*{margin:0;padding:0;}
body,textarea,input{font-family:'Noto Sans Korean', sans-serif, Dotum,"돋움",Gulim,"굴림",Helvetica,Apple-Gothic;font-weight:350;margin:0;padding:0;font-size:13px;color:#555;line-height:150%;-webkit-text-size-adjust:none;}
ul,ol{list-style:none;}
table{margin:0;padding:0;border-spacing:0;border:0;_border-collapse:collapse;width:100%;}
*+html table{border-collapse:collapse;}
img,fieldset,abbr,acronym{border:0;}
address,caption,cite,code,dfn,em,var{font-style:normal;}
input, button,textarea{padding:0;outline:none;}
table{border-collapse:collapse;border-spacing:0}
table,table th,table td{border:0;}
hr{display:none}
a{color:#000;text-decoration:none;}
a:hover,
a:focus{text-decoration:none;}
img{vertical-align:middle;}
body{background:url(../../images/k_body.png) 0 0 repeat;}
caption,legend{*position:absolute;top:0;left:0;width:0;height:0;line-height:0;overflow:hidden;visibility:hidden;font-size:0;}
textarea,input{-webkit-border-radius:0;-webkit-appearance:none;}
.hide{overflow:hidden;visibility:hidden;width:0;height:0;font-size:0;line-height:0;}
.gLeft{float:left;}
.gRight{float:right;}
.hidden{display:none;}
::-webkit-input-placeholder{color:#494949;} /* Chrome/Opera/Safari */
::-moz-placeholder{color:#494949;} /* Firefox 19+ */
:-ms-input-placeholder{color:#494949;} /* IE 10+ */
:-moz-placeholder{color:#494949;} /* Firefox 18- */

#wrap,
#body,
html,
body{margin:0;padding:0;height:100%;}

#wrap{position:relative;min-height:100%;}

#wrap.closed #header .gnb{display:none;}
#wrap.closed #header .btnClose{right:-22px;border-radius:0 3px 3px 0;background-image:url(../../images/ico_arr1_on.png);}
#wrap.closed #body{padding-left:31px;}

#header{position:fixed;top:0;left:0;height:100%;z-index:10;}
#header h1{border-bottom:1px solid #142948;margin:0;padding:0;}
#header .btnClose{position:absolute;top:50%;right:-21px;margin:-21px 0 0;background:url(../../images/ico_arr1.png) 50% 50% no-repeat #234a80;border:1px solid #000;border-left:0;border-radius:0 2px 2px 0;text-indent:-9999px;font-size:0;width:22px;height:40px;}
#header .gnb{position:relative;float:left;background-color:#234a80;border-right:1px solid #000;width:191px;height:100%;}
#header .gnb .footer{position:absolute;bottom:25px;left:15px;}
#header .gnb .footer .link{zoom:1;}
#header .gnb .footer .link:after{display:block;clear:both;content:''}
#header .gnb .footer .link a{position:relative;display:block;float:left;background:url(../../images/ico_link1_1.png) 50% 0 no-repeat;color:#becada;font-size:11px;text-align:center;padding:21px 0 0;width:33.33%;}
#header .gnb .footer .link a:before{content:"";position:absolute;top:3px;left:0;background-color:#4d6d98;width:1px;height:32px;}
#header .gnb .footer .link a.i1:before{display:none;}
#header .gnb .footer .link a.i2{background-image:url(../../images/ico_link1_2.png);}
#header .gnb .footer .link a.i3{background-image:url(../../images/ico_link1_3.png);}
#header .gnb .footer .copy{background:url(../../images/logo_copy.png) 0 0 no-repeat;text-indent:-9999px;font-size:0;margin:30px 0 0;width:157px;height:21px;}

#header .gnb .gnbBg{margin:0 auto;padding:16px 0 0;width:145px;}
#header .gnb .log{position:relative;}
#header .gnb .log .img{position:absolute;top:8px;left:3px;}
#header .gnb .log .img .im{display:block;border-radius:50%;width:39px;height:39px;overflow:hidden;}
#header .gnb .log .img .bt{display:block;background-color:#153263;color:#d5d8df;font-size:10px;margin:5px 0 0;text-align:center;width:44px;line-height:18px;height:18px;}
#header .gnb .log .tx{display:block;color:#fff;font-weight:300;font-size:12px;line-height:190%;letter-spacing:-1px;margin:0 -10px 0 0;padding:3px 0 0 63px;}
#header .gnb .log .tx strong{position:relative;display:inline-block;font-size:14px;}
#header .gnb .log .tx strong:before{content:"";position:absolute;bottom:0;left:0;background-color:#dadada;width:100%;height:1px;}
#header .gnb .list{position:relative;margin:25px 0 0;}
#header .gnb .list a{display:block;color:#fff;font-size:12px;}
#header .gnb .list:before,
#header .gnb .list:after{content:"";position:absolute;bottom:0;left:0;background-color:#516e97;width:100%;height:1px;}
#header .gnb .list:before{bottom:1px;background-color:#1a3760;}
#header .gnb .list dt{position:relative;filter:alpha(opacity=70);opacity:0.7;-moz-opacity:0.7;}
#header .gnb .list dt:before,
#header .gnb .list dt:after{content:"";position:absolute;top:0;left:0;background-color:#1a3760;width:100%;height:1px;}
#header .gnb .list dt:after{top:1px;background-color:#516e97;}
#header .gnb .list dt a{position:relative;color:#fff;padding:0 15px 0 4px;line-height:33px;height:33px}
#header .gnb .list dt a:before,
#header .gnb .list dt a:after{content:"";position:absolute;top:50%;right:4px;margin:-1px 0 0 0;background-color:#fff;width:8px;height:2px;}
#header .gnb .list dt a:after{right:7px;margin-top:-4px;width:2px;height:8px;}
#header .gnb .list dd{display:none;margin:0;padding:0 0 9px;}
#header .gnb .list dd ul{margin:0;padding:3px 0 0;}
#header .gnb .list dd li{border:1px solid #1c3b68;margin-bottom:-1px;}
#header .gnb .list dd li a{position:relative;display:block;background-color:#2f5589;color:#acb7ca;padding:4px 0 3px 13px;}
#header .gnb .list dd li a:before{content:"";position:absolute;top:50%;right:6px;margin-top:-4px;background:url(../../images/ico_gnb1_1.png) 0 0 no-repeat;width:4px;height:7px;}
#header .gnb .list dd li.selected a:before{background-image:url(../../images/ico_gnb1_1_on.png);}
#header .gnb .list dd li a:hover,
#header .gnb .list dd li.selected a{background-color:#43689b;color:#fff;}
#header .gnb .list dt.selected{filter:alpha(opacity=100);opacity:1;-moz-opacity:1;}
#header .gnb .list dt.selected a:after{display:none;}
#header .gnb .list dd.selected{display:block;}

#body{float:left;padding:0 275px 0 223px;width:100%;}
#body.type2{padding-bottom:30px;height:auto;}

.mSah1{background:url(../../images/k_sah1.png) 0 0 repeat-x;background-size:auto 100%;box-shadow:5px 5px 5px rgba(0,0,0,0.33);padding:0 0 10px;overflow:hidden;border-radius:10px;}
.mSah1 ul{margin:0 10px;}
.mSah1 li{position:relative;line-height:65px;height:65px;}
.mSah1 li:before,
.mSah1 li:after{content:"";position:absolute;top:0;left:0;background-color:#1a3760;width:100%;height:1px;}
.mSah1 li:after{top:1px;background-color:#516e97;}
.mSah1 li:first-child:before,
.mSah1 li:first-child:after{display:none;}
.mSah1 li .ti{color:#fff;font-size:15px;padding:0 0 0 5px;}
.mSah1 li .tx{position:absolute;top:50%;right:5px;margin-top:-22px;background:url(../../images/k_sah2_1.png) 0 0 repeat-x;box-shadow:5px 5px 5px  rgba(0,0,0,0.24);color:#fff;text-align:center;border-radius:50%;overflow:hidden;width:44px;line-height:44px;height:44px;}
.mSah1 li .tx.red{background-image:url(../../images/k_sah2_2.png);}

.mWidget1{box-shadow:5px 5px 5px  rgba(0,0,0,0.33);overflow:hidden;border-radius:10px;margin-top:13px;}

.frame{border-radius:10px;width:100%;height:100%;}

.gGrid1{padding:10px 10px 0 0;height:100%;}

.gGrid2{margin:0 -10px;zoom:1;}
.gGrid2:after{display:block;clear:both;content:''}
.gGrid2 .gLeft{width:374px;}
.gGrid2 .gLeft .mBoard1 tbody th{background:#2a3542;}
.gGrid2 .gLeft .mBoard1 tbody td .select{width:calc(100% - 10px);}
.gGrid2 .gLeft .mBoard1 tbody td .gIt{width:calc(100% - 10px);}
.gGrid2 .gLeft .gTextarea.type2{margin:6px 0;width:calc(100% - 10px);}
.gGrid2 .gLeft .gText1{padding:10px 0 0;}
.gGrid2 .gLeft .gText1 .gTextarea.type2{margin:0;width:100%;}
.gGrid2 .gLeft .button{border:1px solid #1c2025;border-top:0;text-align:center;padding:8px 0;}
.gGrid2 .graph,
.gGrid2 .mQuery1{float:right;width:374px;}

.mQuery1 .ti{text-align:center;color:#fff;font-size:13px;padding:0 0 5px;}
.mQuery1 .list{overflow:hidden;border:1px solid #1c2025;overflow:auto;height:315px;}
.mQuery1 .list .mCSB_container_wrapper{margin:0;}
.mQuery1 .list .mCSB_container_wrapper > .mCSB_container{padding:0;}
.mQuery1 .list table{table-layout:fixed;min-width:100%;width:auto;}
.mQuery1 .list th,
.mQuery1 .list td{border-bottom:1px solid #1c2025;border-left:1px solid #1c2025;padding:0 10px;width:82px;white-space:nowrap;height:30px;}
.mQuery1 .list th{background:#2a3542;font-weight:normal;}
.mQuery1 .list .mCSB_inside > .mCSB_container{margin-right:0;}

.mBtn1,
.mBtn1:hover,
.mBtn1:focus{position:relative;display:inline-block;background:url(../../images/k_btn1_gray.png) 0 0 repeat-x;border:1px solid #000;background-size:auto 100%;border-radius:3px;color:#fff;font-size:12px;padding:0 14px;overflow:hidden;line-height:30px;height:30px;vertical-align:middle;}
.mBtn1:hover{color:#fff;text-decoration:none;}
.mBtn1.s{background:url(../../images/k_select1.png) 0 0 repeat-x;color:#b2bac8;font-size:12px;text-align:center;padding:0 10px;min-width:30px;line-height:22px;height:22px;overflow:hidden;vertical-align:middle;}
.mBtn1.w1{min-width:62px;}
.mBtn1.m{font-size:15px;min-width:62px;text-align:center;line-height:36px;height:36px;}
.mBtn1.ms{line-height:28px;height:28px;}
.mBtn1:before{content:"";position:absolute;top:0;left:0;border:1px solid #676e79;width:100%;height:100%;}
.mBtn1.selected{background:#2259b6;}
.mBtn1.selected:before{border-color:#4372c1;}
.mBtn1.green{background-image:url(../../images/k_btn2_green.png);}
.mBtn1.green:before{border-color:#629160;}
.mBtn1.blue{background-image:url(../../images/k_btn2_blue.png);}
.mBtn1.blue:before{border-color:#4d76be;}
.mBtn1.delete{padding-right:33px;}
.mBtn1 .iDelete{position:absolute;top:0;right:0;}

.iHome{background:url(../../images/ico_home1.png) 0 50% no-repeat;padding:0 0 0 18px;}

.iDelete{display:inline-block;background:url(../../images/ico_delete1.png) 50% 50% no-repeat;text-indent:-9999px;font-size:0;width:30px;height:30px;}

.mGrid1{margin:0 0 10px -10px;}
.mGrid1 .row{display:-webkit-flex;display:flex;margin:10px 0 0;}
.mGrid1 .row .col{-webkit-flex:1;flex:1;margin:0 0 0 10px;height:350px;}

.mBox1{border:1px solid #000;background-color:#374250;box-shadow:8px 8px 8px rgba(0,0,0,0.13);border-radius:10px;height:calc(100% - 2px);overflow:hidden;}
.mBox1 .tit{position:relative;background:url(../../images/k_box1.png) 0 0 repeat-x;border-bottom:1px solid #000;padding:0 0 0 22px;line-height:39px;height:39px;}
.mBox1 .tit .ti{color:#fff;font-size:14px;}
.mBox1 .tit .ti.fs1{font-size:16px;}
.mBox1 .tit .rt{position:absolute;top:4px;right:15px;}
.mBox1 .con.pd0{padding:0;height:calc(100% - 40px);}
.mBox1 .con.pd0 .co{display:block;padding:30px;width:auto;height:100%;}
.mBox1 .con{padding:15px;text-align:center;height:calc(100% - 38px);}
.mBox1 .con .co{display:table;width:100%;}
.mBox1 .con .co .txt{display:table-cell;vertical-align:middle;}
.mBox1 .con .co{position:relative;background-color:#313b49;color:#a5a7ac;font-size:16px;height:100%;}
.mBox1 .con .mBox2 .txt{line-height:150%;}

.mBox1.h1{height:calc(100% - 2px);}
.mBox2{display:table;position:relative;border:1px solid #000;background:url(../../images/k_box2.png) 0 0 repeat-x;background-size:auto 100%;color:#fff;font-size:16px;border-radius:3px;width:calc(100% - 2px);height:134px;overflow:hidden;}
.mBox2 .txt{display:table-cell;font-weight:500;vertical-align:middle;}
.mBox2 .iSet2{position:absolute;top:6px;right:6px;}

.mBox2.green{background-image:url(../../images/k_box2_green.png);}
.mBox2.h1{height:86px;}

.iClose,
.iSet2,
.iRefresh{display:block;float:left;background:url(../../images/ico_refresh.png) 50% 50% no-repeat rgba(0,0,0,0.25);border-radius:50%;margin:0 0 0 4px;text-indent:-9999px;font-size:0;width:29px;height:29px;}
.iSet2{background-image:url(../../images/ico_set.png);}
.iClose{background-image:url(../../images/ico_close1.png);}
.iClose.m{display:inline-block;float:none;background-image:url(../../images/ico_close4.png);background-color:#5b6572;width:20px;height:20px;vertical-align:middle;}

.mFlex1{line-height:120%;height:100%;}
.mFlex1 .flexRow{display:-webkit-flex;display:flex;margin:10px 0 0 -10px;}
.mFlex1 .flexRow:first-child{margin-top:0;}
.mFlex1 .flexRow .flexCol{-webkit-flex:1;flex:1;margin:0 0 0 10px;}

.modalBg{position:fixed;top:0;left:0;background-color:rgba(0,0,0,0.4);width:100%;height:100%;z-index:100;}

.lLayer2{display:none;position:absolute;top:85px;left:40%;box-shadow:15px 15px 15px rgba(0,0,0,0.44);margin:0 0 0 -175px;background-color:#374250;border:1px solid #000;padding:0 0 35px;width:550px;z-index:110;}
.lLayer2 .tit{position:relative;background:url(../../images/k_box1.png) 0 0 repeat-x;border-bottom:1px solid #000;background-size:auto 100%;padding:0 0 0 17px;line-height:41px;height:41px;}
.lLayer2 .tit .ti{color:#fff;font-size:16px;}
.lLayer2 .tit.tab{padding-left:0;}
.lLayer2 .tit.tab .ti a{position:relative;display:block;float:left;color:#fff;font-weight:300;border-right:1px solid #000;font-size:16px;padding:0 20px;line-height:40px;height:40px;}
.lLayer2 .tit.tab .ti a.selected{background-color:#374250;}
.lLayer2 .tit.tab .ti a.selected:before{content:"";position:absolute;bottom:-1px;left:0;background-color:#374250;width:100%;height:1px;}
.lLayer2 .tit.tab .ti a.selected span{position:relative;display:inline-block;font-weight:500;}
.lLayer2 .tit.tab .ti a.selected span:before{content:"";position:absolute;bottom:-1px;left:0;background-color:#fff;width:100%;height:2px;}
.lLayer2 .tit .iClose{position:absolute;top:8px;right:10px;background-image:url(../../images/ico_close3.png);width:24px;height:24px;}
.lLayer2 .con{padding:20px 25px 0;}
.lLayer2 .mButton1 .mBtn1{font-size:14px;line-height:33px;height:33px;}

.lQuery{left:50%;margin-left:-395px;padding-bottom:20px;width:790px;}
.lQuery .mButton1{padding-top:25px;}

.lPreview{left:50%;margin-left:-173px;padding-bottom:22px;width:346px;}
.lPreview .con{padding:15px 15px 0;}

.lWidget{left:50%;margin-left:-275px;padding-bottom:30px;}
.lWidget .con{padding:35px 15px 0;}
.lWidget.w2{margin-left:-395px;width:790px;}
.lWidget.w2 .mQuery1{margin:0 0 10px;}
.lWidget.w2 .con{padding:15px 15px 0;}
.lWidget.w2 .gGrid2{margin-left:0;margin-right:0;}
.lWidget.w2 .mQuery1 .list{height:115px;}
.lWidget.w2 .mButton1{padding-top:25px;}

.lLayer1{display:none;position:absolute;top:0;left:0;background-color:rgba(0,0,0,0.55);border-radius:3px;width:100%;height:100%;}
.lLayer1 .layerCon{position:absolute;top:50%;left:50%;background-color:#495667;border:1px solid #000;border-radius:3px;margin:-83px 0 0 -131px;width:260px;height:164px;}
.lLayer1 .layerList{padding:27px 15px 0;}
.lLayer1 .layerList dt{float:left;color:#c9ccd0;font-size:14px;font-weight:500;line-height:29px;height:29px;}
.lLayer1 .layerList dd{padding:0 0 8px 35px;}
.lLayer1 .button{position:absolute;bottom:0;left:0;text-align:center;width:100%;border-top:1px solid #000;}
.lLayer1 .button:before{content:"";position:absolute;top:0;left:50%;background-color:#000;width:1px;height:100%;}
.lLayer1 .button a{display:block;float:left;background:url(../../images/k_btn2.png) 0 0 repeat-x;background-size:auto 100%;color:#fff;font-size:14px;width:50%;line-height:44px;height:44px;}
.lLayer1 .button a.gray{background-image:url(../../images/k_btn2_gray.png);}

.gIt{padding-right:10px;vertical-align:middle;}
span.gIt{display:inline-block;width:80px;}
.it[type="text"]{background-color:#c9ccd0;border-radius:0;border:0;background-color:#c9ccd0;color:#263850;margin:0;padding:0 0 0 10px;vertical-align:middle;width:100%;height:29px;}
.it[type="text"].m{height:24px;}

.gTextarea.mt1{margin-top:5px;}
.gTextarea{padding-right:22px;vertical-align:middle;}
.textarea{border:0;background-color:#323d4b;border:1px solid #000;color:#a7b1be;padding:10px 10px 0;width:100%;height:70px;resize:none;vertical-align:middle;}
.textarea.h1{height:192px;}
.textarea.h2{height:90px;}
.textarea::-webkit-input-placeholder{color:#a7b1be;} /* Chrome/Opera/Safari */
.textarea::-moz-placeholder{color:#a7b1be;} /* Firefox 19+ */
.textarea:-ms-input-placeholder{color:#a7b1be;} /* IE 10+ */
.textarea:-moz-placeholder{color:#a7b1be;} /* Firefox 18- */

.gTextarea.type2 .textarea{background-color:#c9ccd0;border:0;color:#262f3c;}
.gTextarea.type2 .textarea::-webkit-input-placeholder{color:#262f3c;} /* Chrome/Opera/Safari */
.gTextarea.type2 .textarea::-moz-placeholder{color:#262f3c;} /* Firefox 19+ */
.gTextarea.type2 .textarea:-ms-input-placeholder{color:#262f3c;} /* IE 10+ */
.gTextarea.type2 .textarea:-moz-placeholder{color:#262f3c;} /* Firefox 18- */

.mBoard1.mt1{margin-top:10px;}
.mBoard1 table{border:1px solid #1c2025;border-bottom:0;}
.mBoard1 th,
.mBoard1 td{border-bottom:1px solid #1c2025;text-align:center;height:42px;}
.mBoard1 th{background:url(../../images/k_board1.png) 0 0 repeat-x #242d39;color:#fff;font-size:13px;}
.mBoard1 td{background:url(../../images/k_board1_2.png) 0 0 repeat-x #323d4b;border-top:1px solid #455262;color:#a7b1be;font-size:14px;}
.mBoard1 tbody th{background:url(../../images/k_board1_2.png) 0 0 repeat-x #262f3c;font-weight:normal;}
.mBoard1 .left{padding-left:30px;text-align:left;}
.mBoard1 .left2{padding-left:15px;text-align:left;}
.mBoard1 .left3{padding:8px;}
.mBoard1 .linetop1 th,
.mBoard1 .linetop1 td{border-top:1px solid #181d23;}

.mBoard1.type2 th,
.mBoard1.type2 td{height:37px;}
.mBoard1.type2 td{border-left:1px solid #262f3c;}
.mBoard1.type2 td .gRadio{margin-top:4px;}


.btnSys:hover,
.btnSys:focus,
.btnSys{position:relative;display:inline-block;border-radius:3px;border:1px solid #000;background:url(../../images/k_select1.png) 0 0 repeat-x;color:#b2bac8;font-size:12px;padding:0 15px 0 7px;text-align:left;min-width:62px;line-height:22px;height:22px;overflow:hidden;vertical-align:middle;text-decoration:none;}
.btnSys:before{content:"";position:absolute;top:50%;right:0;margin:-3px 0 0;background:url(../../images/ico_select1.png) 100% 50% no-repeat;width:10px;height:5px;}
.btnSys.plus{min-width:auto;padding-right:20px;}
.btnSys.plus:before{right:7px;background-image:url(../../images/ico_plus1.png);margin-top:-3px;width:7px;height:7px;}

.select.w1{width:400px;}
.select{display:inline-block;border-radius:0;-webkit-appearance:none;-moz-appearance:none;appearance:none;background:url(../../images/ico_select2.png) 100% 50% no-repeat #c9ccd0;border:0;color:#262f3c;font-size:14px;margin:0;padding:0 15px 0 7px;min-width:85px;line-height:29px;height:29px;}
.select.m{line-height:24px;height:24px;}
select::-ms-expand{display:none;}

.iStop,
.iPlay{display:inline-block;background:url(../../images/ico_play1.png) 50% 50% no-repeat;text-indent:-9999px;font-size:0;width:20px;height:20px;}
.iStop{background-image:url(../../images/ico_stop1.png);}

.mButton1.line1{border-top:1px solid #1f262d;margin:30px 0 0;padding-top:20px;}
.mButton1{position:relative;padding:15px 0 0;text-align:center;}
.mButton1 .mBtn1.posLt{position:absolute;top:15px;left:0;}
.mButton1.top{padding-top:0;text-align:left;}
.mButton1.topRight{padding-top:0;padding-bottom:8px;text-align:right;}
.mButton1.right{text-align:right;}

.mList1{margin:0;}
.mList1 dt{position:relative;float:left;color:#fff;font-size:14px;font-weight:300;padding:0 0 0 15px;line-height:29px;height:29px;}
.mList1 dt:before{content:"";position:absolute;top:13px;left:0;background-color:#fff;border-radius:2px;width:3px;height:3px;}
.mList1 dd{padding:0 0 5px 78px;}
.mList1 dd .select{width:100%;}

.mList1.type2 dt{}
.mList1.type2 dd{padding-left:100px;}
.mList1.type2 dd .gRadio{margin-top:4px;}


input[type="checkbox"], 
input[type="radio"]{position:absolute;border:0;margin:-1px;padding:0;width:1px;height:1px;overflow:hidden;clip:rect(0px, 0px, 0px, 0px);}
input[type="checkbox"] + label, 
input[type="radio"] + label{position:relative;display:inline-block;color:#a7b1be;padding:0 0 0 25px;}
input[type="checkbox"] + label{padding-left:31px;}
input[type="checkbox"] + label:before,
input[type="radio"] + label:before{content:"";position:absolute;top:0;left:0;width:18px;height:18px;line-height:18px;overflow:hidden;margin:0;padding:0;}
input[type="checkbox"] + label:before{background:url(../../images/ico_checkbox1.png) 0 0 no-repeat;}
input[type="checkbox"]:checked + label::before{background-image:url(../../images/ico_checkbox1_on.png);}
input[type="checkbox"]:focus + label::before{background-image:url(../../images/ico_checkbox1.png);}
input[type="checkbox"]:checked:focus + label::before{background-image:url(../../images/ico_checkbox1_on.png);}

input[type="radio"] + label{padding-top:0px;}
input[type="radio"] + label:before{top:1px;background:url(../../images/ico_radio1.png) 0 0 no-repeat;}
input[type="radio"]:checked + label::before{background-image:url(../../images/ico_radio1_on.png);}
input[type="radio"]:focus + label::before{background-image:url(../../images/ico_radio1.png);}
input[type="radio"]:checked:focus + label::before{background-image:url(../../images/ico_radio1_on.png);}

.gCheckbox.noText input[type="checkbox"] + label,
.gRadio.noText input[type="checkbox"] + label{margin-bottom:0;padding-left:19px;text-indent:-9999px;font-size:0;}
.gCheckbox,
.gRadio{margin-left:20px;}
span.gCheckbox,
span.gRadio{display:inline-block;}
.gCheckbox:first-child,
.gRadio:first-child{margin-left:0;}

.label{display:inline-block;padding-right:5px;}
.label.ml1{margin-left:14px;}

.gMod2{position:relative;padding:0 66px 0 0;}
.gMod2 .gIt{display:block;}
.gMod2 .mBtn1{position:absolute;top:0;right:10px;}

.gMod1{position:relative;padding:0 40px 0 60px;}
.gMod1 .select{width:100%;}
.gMod1 .btnSys{position:absolute;top:0;left:0;}
.gMod1 .iClose{position:absolute;top:2px;right:10px;}

.gCont1{display:table;color:#a5a7ac;font-size:16px;width:100%;min-height:100%;height:100%;}
.gCont1 .txt{display:table-cell;vertical-align:middle;text-align:center;}

.gBox1{margin-top:10px;height:calc(100% - 67px);}

.mTab1{border-bottom:1px solid #bbc4d0;margin:15px 0 0;zoom:1;}
.mTab1:after{display:block;clear:both;content:''}
.mTab1 .ls{position:relative;display:block;float:left;margin-right:-1px;}
.mTab1 .ls a{position:relative;display:block;border:1px solid #646c76;border-bottom:0;color:#acaeb0;font-size:12px;padding:0 22px 0 13px;min-width:100px;line-height:32px;height:32px;}
.mTab1 .ls a.iDelete{border:0;position:absolute;top:0;right:0;background-position:0 50%;padding:0;min-width:auto;width:25px;}
.mTab1 .ls a.iHome{background-image:none;padding-left:32px;padding-right:36px;min-width:auto;}
.mTab1 .ls a.iHome:before{content:"";position:absolute;top:50%;left:15px;margin-top:-5px;background:url(../../images/ico_home1.png) 0 0 no-repeat;width:10px;height:10px;}
.mTab1 .ls.selected a.iHome:before{background-image:url(../../images/ico_home1_on.png);}
.mTab1 .ls.selected a,
.mTab1 .ls.iHome a{background:url(../../images/k_tab1.png) 0 100% repeat-x;border-color:#dce2e9;color:#313b49;}
.mTab1 .ls.selected a.iDelete{background:url(../../images/ico_delete1_on.png) 2px 50% no-repeat;}
.mTab1 .bt{position:relative;display:inline-block;background:url(../../images/k_btn5.png) 0 0 repeat-x;border:1px solid #000;border-radius:0;color:#fff;font-size:12px;margin:0 0 0 6px;padding:0 10px 0 23px;line-height:28px;height:28px;}
.mTab1 .bt:before,
.mTab1 .bt:after{content:"";position:absolute;top:50%;left:10px;margin-top:-1px;background-color:#c9cbce;width:6px;height:2px;}
.mTab1 .bt:after{left:10px;margin:-3px 0 0 2px;width:2px;height:6px;}

#header .gnb .list a:hover,
.mTab1 .ls a:hover{text-decoration:none;}

.mMap1{position:relative;background-size:cover;background-repeat:no-repeat;background-position:50% 50%;overflow:hidden;height:100%;}

.iFlag{position:absolute;}
.lMap{display:none;position:absolute;top:17px;right:17px;background-color:#313b49;width:278px;height:calc(100% - 34px);}

.gWidget{position:fixed;top:0;right:0;background-color:#22272f;border-left:1px solid #000;width:254px;height:100%;}
.gWidget .widgetBg{margin:0 auto;width:220px;}
.gWidget .mCustomScrollbar{padding:16px 0;overflow:hidden;overflow-y:auto;height:100%;}
.gWidget .btnClose{position:absolute;top:50%;left:-21px;margin:-21px 0 0;background:url(../../images/ico_arr1_on.png) 50% 50% no-repeat #22272f;border:1px solid #000;border-right:0;border-radius:2px 0 0 2px;text-indent:-9999px;font-size:0;width:22px;height:40px;}
.gWidget .list{padding:12px 0 0;}
.gWidget .btnWidget{display:block;background:url(../../images/k_btn1_gray.png) 0 0 repeat-x;border:1px solid #000;background-size:auto 100%;border-radius:10px;text-align:center;}
.gWidget .btnWidget span{display:inline-block;background:url(../../images/ico_widget.png) 0 50% no-repeat;color:#fff;font-size:16px;padding:0 0 0 32px;line-height:48px;height:48px;}
.gDep .dep.dep2,
.gDep .dep.dep3{display:none;}
.gDep .dep.dep2.open .dep3{display:block;}
.gDep .dep{position:relative;margin:6px 0 0;}
.gDep .dep .link a{display:block;background:url(../../images/ico_widget_folder.png) 0 4px no-repeat;color:#fff;font-size:12px;padding:0 0 0 38px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;margin-right:45px;}
.gDep .dep .add{position:absolute;top:0;right:0;background:url(../../images/txt_add.png) 50% 50% no-repeat #7e8a99;border:1px solid #000;border-radius:3px;color:#1e242d;font-weight: 300;font-size:11px;width:39px;text-indent:-9999px;font-size:0;line-height:17px;height:17px;}
.gDep .dep.open .link a{background-image:url(../../images/ico_widget_folder_open.png);}
.gDep .dep.dep1.open .dep2{display:block;}
.gDep .dep.dep2 .link a{background-image:url(../../images/ico_widget_folder_dep2.png);padding-left:56px;}
.gDep .dep.dep2.open .link a{background-image:url(../../images/ico_widget_folder_dep2_open.png);}
.gDep .dep.dep2 .dep.dep3 .link a{background-image:url(../../images/ico_widget_dep1_1.png);padding-left:75px;}
.gDep .dep.dep2 .dep.dep3 .link.i1 a{background-image:url(../../images/ico_widget_dep1_1.png);}
.gDep .dep.dep2 .dep.dep3 .link.i2 a{background-image:url(../../images/ico_widget_dep1_2.png);}
.gDep .dep.dep2 .dep.dep3 .link.i3 a{background-image:url(../../images/ico_widget_dep1_3.png);}
.gDep .dep.dep2 .dep.dep3 .link.i4 a{background-image:url(../../images/ico_widget_dep1_4.png);}
.gDep .dep.dep2 .dep.dep3 .link.i5 a{background-image:url(../../images/ico_widget_dep1_5.png);}
.gDep .dep.dep2 .dep.dep3 .link.i6 a{background-image:url(../../images/ico_widget_dep1_6.png);}
.gDep .dep.dep2 .dep.dep3 .link.i7 a{background-image:url(../../images/ico_widget_dep1_7.png);}
.gDep .dep .add:hover{color:#1e242d;text-decoration:none;}
.gDep .mCSB_inside > .mCSB_container{margin-right:0;}

#wrap.closedWidget #body{padding-right:31px;}
#wrap.closedWidget .gWidget{border-left:0;width:0;}
#wrap.closedWidget .gWidget .mCustomScrollbar{display:none;}
#wrap.closedWidget .gWidget .btnClose{border-radius:0 2px 2px 0;background-image:url(../../images/ico_arr1.png);}

.mTitle1{position:relative;border-bottom:1px solid #4f555d;color:#fff;font-weight:500;font-size:20px;margin:0 0 17px;padding:4px 0 4px 7px;}
.mTitle1:before{content:"";position:absolute;bottom:0;left:0;background-color:#000;width:100%;height:1px;}

.mPag1{margin:45px 0 0;text-align:center;}
.mPag1 .first,
.mPag1 .last,
.mPag1 .prev,
.mPag1 .next{background-image:url(../../images/ico_pag1_prev.png);background-position:50% 50%;background-repeat:no-repeat;text-indent:-9999px;font-size:0;}
.mPag1 .prev{margin-right:8px;}
.mPag1 .next{background-image:url(../../images/ico_pag1_next.png);margin-left:8px;}
.mPag1 .first{background-image:url(../../images/ico_pag1_first.png);}
.mPag1 .last{background-image:url(../../images/ico_pag1_last.png);}
.mPag1 a{position:relative;display:inline-block;background-color:rgba(0,0,0,0.1);border:1px solid #1a1a1a;vertical-align:middle;color:#818c9b;font-weight:13px;margin:0 -2px;font-weight:500;width:28px;line-height:28px;height:28px;}
.mPag1 a.cur{background-color:#424e5e;color:#fff;}

.mSort1{position:relative;background-color:#3f4b5a;border:1px solid #1c2025;margin:0 0 15px;padding:15px 20px;zoom:1;}
.mSort1:after{display:block;clear:both;content:''}
.mSort1 .gBtn{position:absolute;top:12px;right:15px;}
.mSort1 .gBtn .mBtn1{padding:0 10px;min-width:54px;line-height:30px;height:30px;}
.mSort1 .col{float:left;margin-left:24px;}
.mSort1 .col:first-child{margin-left:0;}
.mSort1 .col .gIt{padding-right:0;width:auto;}
.mSort1 .col .gIt.w1{padding-right:10px;width:90px;}
.mSort1 .col .gIt.w1 .it{width:100%;min-width:100%;}
.mSort1 .col .select.w1{width:130px;}
.mSort1 .it[type="text"]{background-color:#c9ccd0;border-radius:0;margin:0;width:auto;line-height:24px;height:24px;}
.mSort1 label{display:block;float:left;color:#fff;margin:0;padding:0 7px 0 0;vertical-align:middle;line-height:24px;height:24px;}
.mSort1 .select{font-size:13px;margin:0;vertical-align:middle;width:auto;width:160px;line-height:24px;height:24px;}

.mDir1{background-color:#22272f;padding:10px 0;height:330px;overflow:hidden;}
.mDir1 .mCSB_inside > .mCSB_container{margin-right:0;}
.mDir1 .gDep{margin:0 20px;}
.mDir1 .gDep .dep .link a{margin-right:0;}

.mLoading{position:absolute;top:50%;left:50%;background-color:#fff;border-radius:24px;margin:-24px 0 0 -73px;text-align:center;width:146px;line-height:48px;height:48px;z-index:120;}
.mLoading .img{display:inline-block;}
.mLoading .txt{display:inline-block;color:#2b323b;font-size:13px;padding-left:10px;}
