<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<title>HYUNDAI MnSOFT</title>
	
	<link rel="stylesheet" type="text/css" href="./css/pages/common.css">			<!-- 공통 스타일 -->
	<link rel="stylesheet" type="text/css" href="./BIX5/Assets/BIX5.css"/>			<!-- BIX5 스타일 -->  
	<link rel="stylesheet" type="text/css" href="./BIX5/Assets/BIX5Dashboard.css"/>	<!-- BIX5 Dashboard 스타일 --> 
	
	<script type="text/javascript" src="./js/jquery-1.12.4.min.js"></script>		<!-- jQeury 라이브러리 -->
	<script type="text/javascript" src="./BIX5/JS/BIX5.js" ></script> 				<!-- BIX5 라이브러리 -->
	<script type="text/javascript" src="./BIX5/LicenseKey/BIX5License.js"></script>	<!-- BIX5 라이선스 --> 
	