</head>
<body>
<div id="wrap" class="closed" style="width:100%;">
<!-- header -->
<div id="header">
	<!-- lnb -->
	<div class="lnb">
		<a href="###" class="iMenu">메뉴</a>
		<a href="###" class="iUser">사용자</a>
		<a href="###" class="iSet">관리</a>
		<a href="###" class="iEnv">환경설정</a>
	</div>
	<!-- //lnb -->
	<!-- gnb -->
	<div class="gnb">
		<div class="gnbBg">
			<div class="log">
				<span class="im" style="background-image:url(images/ico_profile.png);"></span>
				<span class="tx">
					정밀지도개발팀<br>
					<strong>김문수 님</strong><br>
					로그인하셨습니다.
				</span>
			</div>
			<dl class="list">
			<dt><a href="###">Dashboard</a></dt>
			<dt class="selected"><a href="###">Management</a></dt>
			<dd class="selected">
				<ul>
				<li class="selected"><a href="###">System</a></li>
				<li><a href="###">Data</a></li>
				<li><a href="###">Query</a></li>
				<li><a href="###">Widget</a></li>
				</ul>
			</dd>
			<dt><a href="###">Setting</a></dt>
			</dl>
		</div>
		<div class="footer">
			<div class="logo"><img src="images/logo_footer.png" alt="HYUNDAI MnSOFT"></div>
			<div class="copy">COPYRIGHT &copy; 2019 HYUNDAI MNSOFT<br>  ALL RIGHTS RESERVED.</div>
		</div>
	</div>
	<!-- //gnb -->
	<a href="###" class="btnClose">닫기</a>
</div>
<!-- //header -->