</head>
<body>
<div id="wrap" class="closed" style="width:1330px;"> <!-- 컨텐츠 영역의 너비를 조정해주세요 -->

<!-- header -->
<div id="header">
	<!-- gnb -->
	<div class="gnb">
		<h1><img src="images/logo.png" alt="HYUNDAI MnSOFT"></h1>
		<div class="gnbBg">
			<div class="log">
				<div class="img">
					<span class="im" style="background-image:url(images/ico_profile.png);"></span>
					<a href="###" class="bt">로그아웃</a>
				</div>
				<span class="tx">
					정밀지도개발팀<br>
					<strong>김문수 님</strong><br>
					로그인하셨습니다.
				</span>
			</div>
			<dl class="list">
			<dt><a href="###">Dashboard</a></dt>
			<dt class="selected"><a href="###">Management</a></dt>
			<dd class="selected">
				<ul>
				<li class="selected"><a href="###">System</a></li>
				<li><a href="###">Data</a></li>
				<li><a href="###">Query</a></li>
				<li><a href="###">Widget</a></li>
				</ul>
			</dd>
			<dt><a href="###">Setting</a></dt>
			</dl>
		</div>
		<div class="footer">
			<div class="link">
				<a href="###" class="i1">사용자</a>
				<a href="###" class="i2">관리</a>
				<a href="###" class="i3">환경설정</a>
			</div>
			<div class="copy">COPYRIGHT &copy; 2019 HYUNDAI MNSOFT<br>  ALL RIGHTS RESERVED.</div>
		</div>
	</div>
	<!-- //gnb -->
	<a href="###" class="btnClose">닫기</a>
</div>
<!-- //header -->