<!-- widget -->
<div class="gWidget">
	<div class="mCustomScrollbar">
		<div class="widgetBg">
			<a href="###" class="btnWidget"><span>위젯추가</span></a>
			<div class="list">
				<div class="gDep">
					<div class="dep dep1">
						<div class="link"><a href="###">SystemSystemSystemSystemSystem</a></div>
						<a href="###" class="add jsBtnDep1">+추가</a>
						<div class="dep dep2">
							<div class="link"><a href="###">SystemSystemSystemSystemSystem</a></div>
							<a href="###" class="add jsBtnDep2">+추가</a>
						</div>
					</div>
				</div>

				<div class="gDep">
					<div class="dep dep1 open">
						<div class="link"><a href="###">System</a></div>
						<a href="###" class="add jsBtnDep1">+추가</a>
						<div class="dep dep2 open">
							<div class="link"><a href="###">System</a></div>
							<a href="###" class="add jsBtnDep2">+추가</a>
							<div class="dep dep3">
								<div class="link"><a href="###">System1</a></div>
								<a href="###" class="add jsBtnDep3">+추가</a>
							</div>
							<div class="dep dep3">
								<div class="link i2"><a href="###">System</a></div>
								<a href="###" class="add jsBtnDep3">+추가</a>
							</div>
							<div class="dep dep3">
								<div class="link i3"><a href="###">System</a></div>
								<a href="###" class="add jsBtnDep3">+추가</a>
							</div>
							<div class="dep dep3">
								<div class="link i4"><a href="###">System</a></div>
								<a href="###" class="add jsBtnDep3">+추가</a>
							</div>
							<div class="dep dep3">
								<div class="link i5"><a href="###">System</a></div>
								<a href="###" class="add jsBtnDep3">+추가</a>
							</div>
							<div class="dep dep3">
								<div class="link i6"><a href="###">System</a></div>
								<a href="###" class="add jsBtnDep3">+추가</a>
							</div>
							<div class="dep dep3">
								<div class="link i7"><a href="###">System</a></div>
								<a href="###" class="add jsBtnDep3">+추가</a>
							</div>
						</div>
						<div class="dep dep2">
							<div class="link"><a href="###">System</a></div>
							<a href="###" class="add jsBtnDep2">+추가</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- add20200227-2 -->
	<a href="###" class="btnClose">닫기</a>
</div>
<!-- //widget -->