<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmns.mims.widget.mapper.TabMapper">

	<sql id="tabWhere">
		<if test="tabSeq != null">
			AND TAB_SEQ = #{tabSeq}
		</if>
		<if test="tabName != null">
			AND TAB_NAME = #{tabName}
		</if>
		<if test="tabOrder != null">
			AND TAB_ORDER = #{tabOrder} 
		</if>
		<if test="useuserID != null">
			AND USE_USER_ID = #{useuserID}
		</if>
	</sql>
	
	<select id="selectTabListCnt" resultType="Integer">
		SELECT COUNT(*)
		FROM
		(
			SELECT
				ROW_NUMBER() OVER (ORDER BY TAB_SEQ ASC) AS rownum,
				TAB_SEQ,
				TAB_NAME,
				TAB_ORDER,
				USE_USER_ID,
				CONVERT( CHAR(19), INSERT_DATE, 120 ) AS INSERT_DATE,
				CONVERT( CHAR(19), INSERT_DATE, 120 ) AS UPDATE_DATE
			FROM
				WIDGET_TAB
			WHERE
				1 = 1
				<include refid="tabWhere"></include>
		)T1
	</select>
	
	<select id="selectTabList" resultType="HashMap">
		SELECT *
		FROM
		(
			SELECT
				ROW_NUMBER() OVER (ORDER BY TAB_SEQ ASC) AS rownum,
				TAB_SEQ,
				TAB_NAME,
				TAB_ORDER,
				USE_USER_ID,
				CONVERT( CHAR(19), INSERT_DATE, 120 ) AS INSERT_DATE,
				CONVERT( CHAR(19), INSERT_DATE, 120 ) AS UPDATE_DATE
			FROM
				WIDGET_TAB
			WHERE
				1 = 1
				<include refid="tabWhere"></include>
		)T1
		<if test="start != '' and start != null">
			WHERE
				rownum BETWEEN ${start} + 1 AND ${start} + ${limit}
		</if>
	</select>
	
	<insert id="insertTab">
		INSERT INTO WIDGET_TAB
		( TAB_SEQ, TAB_NAME, TAB_ORDER, USE_USER_ID, INSERT_DATE )
		VALUES
		( #{tabSeq}, #{tabName}, #{tabOrder}, #{useuserID}, GETDATE() )
	</insert>
	
	<update id="updateTab">
		UPDATE WIDGET_TAB
		SET
			<if test="tabName != null">
				TAB_NAME = #{tabName},
			</if>
			<if test="tabOrder != null">
				TAB_ORDER = #{tabOrder},
			</if>
			<if test="useuserID != null">
				USE_USER_ID = #{useuserID},
			</if>
				UPDATE_DATE = GETDATE()
		WHERE
			TAB_SEQ = #{tabSeq}
	</update>
	
	<delete id="deleteTab">
		DELETE FROM 
			WIDGET_TAB
		WHERE
			TAB_SEQ = #{tabSeq}
	</delete>
</mapper>