{{>layout/header}}

<link rel="stylesheet" type="text/css" href="./css/pages/main.css">

<script type="text/javascript" src="./js/bootstrap.js"></script>
<script type="text/javascript" src="./js/pages/main.js"></script>

{{>layout/left_menu}}

<div id="body">
	<ul class="nav nav-tabs" role="tablist">
		<li class="active"><a href="#contact_01" data-toggle="tab">ADAS</a><span>x</span></li>
		<li><a href="#contact_02" data-toggle="tab">변화정보</a><span>x</span></li>
		<li><a href="#" class="add-contact">+ 위젯 추가</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="contact_01">
			<div class="gGrid1">
				<!-- grid -->
				<div class="mGrid1">
					<!-- row -->
					<div class="row">
						<!-- col -->
						<div class="col">
							<div class="mBox1 h1">
								<div class="tit">
									<div class="ti">메인컨텐츠</div>
									<div class="rt">
										<a href="###" class="iRefresh">새로고립</a>
										<a href="###" class="iSet2">세팅</a>
									</div>
								</div>
								<div class="con">
									<div class="co">
										<div class="txt">컨텐츠영역</div>
									</div>
								</div>
							</div>
						</div>
						<!-- //col -->
						<!-- col -->
						<div class="col">
							<div class="mBox1 h1">
								<div class="tit">
									<div class="ti">메인컨텐츠</div>
									<div class="rt">
										<a href="###" class="iRefresh">새로고립</a>
										<a href="###" class="iSet2">세팅</a>
									</div>
								</div>
								<div class="con">
									<div class="co">
										<!-- flex -->
										<div class="mFlex1">
											<div class="flexRow">
												<div class="flexCol">
													<div class="mBox2">
														<div class="txt">COCONUT</div>
														<a href="#jsLayer1" class="iSet2 jsBtnShow1">세팅</a>
													</div>
												</div>
												<div class="flexCol">
													<div class="mBox2">
														<div class="txt">KAIROS<br> CONVERTER</div>
														<a href="#jsLayer1" class="iSet2 jsBtnShow1">세팅</a>
													</div>
												</div>
											</div>
											<div class="flexRow">
												<div class="flexCol">
													<div class="mBox2">
														<div class="txt">KAIROS<br> CONVERTER</div>
														<a href="#jsLayer1" class="iSet2 jsBtnShow1">세팅</a>
													</div>
												</div>
												<div class="flexCol">
													<div class="mBox2">
														<div class="txt">ExtraDB<br> Manager</div>
														<a href="#jsLayer1" class="iSet2 jsBtnShow1">세팅</a>
													</div>
												</div>
											</div>
										</div>
										<!-- //flex -->
										<!-- layer -->
										<div id="jsLayer1" class="lLayer1">
											<div class="layerCon">
												<div class="layerList">
													<dl>
													<dt>명칭</dt>
													<dd>
														<div class="gIt"><input type="text" class="it" title="명칭" value="OBN"></div>
													</dd>
													<dt>URL</dt>
													<dd>
														<div class="gIt"><input type="text" class="it" title="URL" value="\\Cp-ks20\oem\00_EMUL\OBN"></div>
													</dd>
													</dl>
												</div>
												<div class="button">
													<a href="###">저장</a>
													<a href="#jsLayer1" class="gray jsBtnClose1">닫기</a>
												</div>
											</div>
										</div>
										<!-- //layer -->
									</div>
								</div>
							</div>
						</div>
						<!-- //col -->
						<!-- col -->
						<div class="col">
							<div class="mBox1 h1">
								<div class="tit">
									<div class="ti">메인컨텐츠</div>
									<div class="rt">
										<a href="###" class="iRefresh">새로고립</a>
										<a href="###" class="iSet2">세팅</a>
									</div>
								</div>
								<div class="con">
									<div class="co">
										<!-- flex -->
										<div class="mFlex1">
											<div class="flexRow">
												<div class="flexCol">
													<div class="mBox2 green h1">
														<div class="txt">OBN</div>
														<a href="#jsLayer2" class="iSet2 jsBtnShow1">세팅</a>
													</div>
												</div>
												<div class="flexCol">
													<div class="mBox2 green h1">
														<div class="txt">OEM<br> GEN4</div>
														<a href="#jsLayer2" class="iSet2 jsBtnShow1">세팅</a>
													</div>
												</div>
											</div>
											<div class="flexRow">
												<div class="flexCol">
													<div class="mBox2 green h1">
														<div class="txt">OEM<br> GEN5</div>
														<a href="#jsLayer2" class="iSet2 jsBtnShow1">세팅</a>
													</div>
												</div>
												<div class="flexCol">
													<div class="mBox2 green h1">
														<div class="txt">OEM<br> PRM2</div>
														<a href="#jsLayer2" class="iSet2 jsBtnShow1">세팅</a>
													</div>
												</div>
											</div>
											<div class="flexRow">
												<div class="flexCol">
													<div class="mBox2 green h1">
														<div class="txt">AM<br> GINI2D</div>
														<a href="#jsLayer2" class="iSet2 jsBtnShow1">세팅</a>
													</div>
												</div>
												<div class="flexCol">
													<div class="mBox2 green h1">
														<div class="txt">AM<br> GINI3D</div>
														<a href="#jsLayer2" class="iSet2 jsBtnShow1">세팅</a>
													</div>
												</div>
											</div>
										</div>
										<!-- //flex -->
										<!-- layer -->
										<div id="jsLayer2" class="lLayer1" style="display:block;">
											<div class="layerCon">
												<div class="layerList">
													<dl>
													<dt>명칭</dt>
													<dd>
														<div class="gIt"><input type="text" class="it" title="명칭" value="OBN"></div>
													</dd>
													<dt>URL</dt>
													<dd>
														<div class="gIt"><input type="text" class="it" title="URL" value="\\Cp-ks20\oem\00_EMUL\OBN"></div>
													</dd>
													</dl>
												</div>
												<div class="button">
													<a href="###">저장</a>
													<a href="#jsLayer2" class="gray jsBtnClose1">닫기</a>
												</div>
											</div>
										</div>
										<!-- //layer -->
									</div>
								</div>
							</div>
						</div>
						<!-- //col -->
					</div>
					<!-- //row -->
					<!-- row -->
					<div class="row">
						<!-- col -->
						<div class="col">
							<div class="mBox1 h1">
								<div class="tit">
									<div class="ti">메인컨텐츠</div>
									<div class="rt">
										<a href="###" class="iRefresh">새로고립</a>
										<a href="###" class="iSet2">세팅</a>
									</div>
								</div>
								<div class="con">
									<div class="co">
										<div class="txt">컨텐츠영역</div>
									</div>
								</div>
							</div>
						</div>
						<!-- //col -->
						<!-- col -->
						<div class="col">
							<div class="mBox1 h1">
								<div class="tit">
									<div class="ti">메인컨텐츠</div>
									<div class="rt">
										<a href="###" class="iRefresh">새로고립</a>
										<a href="###" class="iSet2">세팅</a>
									</div>
								</div>
								<div class="con">
									<div class="co">
										<div class="txt">컨텐츠영역</div>
									</div>
								</div>
							</div>
						</div>
						<!-- //col -->
					</div>
					<!-- //row -->
					<!-- row -->
					<div class="row">
						<!-- col -->
						<div class="col">
							<div class="mBox1 h1">
								<div class="tit">
									<div class="ti">메인컨텐츠</div>
									<div class="rt">
										<a href="###" class="iRefresh">새로고립</a>
										<a href="###" class="iSet2">세팅</a>
									</div>
								</div>
								<div class="con">
									<div class="co">
										<div class="txt">컨텐츠영역</div>
									</div>
								</div>
							</div>
						</div>
						<!-- //col -->
					</div>
					<!-- //row -->
				</div>
				<!-- //grid -->
			</div>
		</div>
		<!-- mbh -->
		<div class="tab-pane" id="contact_02">
			<script type="text/javascript" src="/js/DashBoardTest/DashBoardTest.js"></script>
			<div>
				<button type="button" id="save">저장</button>
			</div>
			<div id="dashboardHolder"></div>
		</div>
	</div>
</div>

{{>layout/bottom}}