<!DOCTYPE html>
<html>
<head>
	<title>BIX5 | Dashboard Demo</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="BIX5 Dashboard, BIX5 Chart, BIX5 Grid, BIX5 MapChart, BIXsoft 2017">
	<meta name="keywords" content="HTML5,Chart,JavaScript,CSS,Ajax,Graph,BIX5Chart">
	<script type="text/javascript" src="/js/jquery-1.12.4.min.js"></script>
	<script>
/*	
	$(document).ready(function(){
		var product;
		if("" == getParameterByName("product")){
			if("" == getParameterByName("Product")){
				product = "Dashboard";
			} else {
				product = getParameterByName("Product");
			}
		} else {
			product = getParameterByName("product");
		}
		
		if("Mapchart" == getParameterByName("product") || "Mapchart"==getParameterByName("Product")){
			product = "MapChart";
		} 
		
		var tab = getParameterByName("tab");
		var page = "" == getParameterByName("page") ? "Web/Overview" : getParameterByName("page");

		$("#topFrame").attr("src", "./Samples/"+product+"/Web/Top.html");
		$("#menuFrame").attr("src", "./Samples/"+product+"/Web/LeftMenu.html?tab="+tab+"&page="+page);
		$("#sampleFrame").attr("src", "./Samples/"+product+"/"+page+".html");		
	});
*/	
	function getParameterByName(name) {
		name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
		var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
			results = regex.exec(location.search);
		return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
	}
	</script>
</head>

<frameset rows="80px,100%" frameborder="1" border="1px" BORDERCOLOR="#00619d">
	<frame scrolling="no" rows="100%" name="topFrame" id="topFrame" noresize>
		<frameset cols="320px,100%" frameborder="0">
			<frame scrolling="no" rows="100%" noresize name="menuFrame" id="menuFrame" frameborder="0" marginwidth="0">
			<frameset rows="100%">
				<frame scrolling="yes" noresize name="sampleFrame" id="sampleFrame" frameborder="0">
			</frameset>
		</frameSet>
	</frame>
</frameSet>

</html>