<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Kakao Map API TEST</title>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2b5eb1bcff1c99beefe2d379fb6bde15"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2b5eb1bcff1c99beefe2d379fb6bde15&libraries=LIBRARY"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2b5eb1bcff1c99beefe2d379fb6bde15&libraries=services"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2b5eb1bcff1c99beefe2d379fb6bde15&libraries=services,clusterer,drawing"></script>

</head>
<body>

<div id="map" ></div> <!-- style="width:500px;height:400px;" -->
<script>
var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
var options = { //지도를 생성할 때 필요한 기본 옵션
	center: new kakao.maps.LatLng(33.450701, 126.570667), //지도의 중심좌표.
	level: 3 //지도의 레벨(확대, 축소 정도)
};
var map = new kakao.maps.Map(container, options);
</script>


</body>
</html>