<!DOCTYPE html>
<html>
<head>

<meta name="robots" content="noindex, nofollow" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="Content-Script-Type" content="text/javascript"/>
<meta http-equiv="Content-Style-Type" content="text/css"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>

<title></title>

<link rel="stylesheet" type="text/css" href="../css/pages/common.css">			<!-- 공통 스타일 -->
<link rel="stylesheet" type="text/css" href="../BIX5/Assets/BIX5.css"/>			<!-- BIX5 스타일 -->  
<link rel="stylesheet" type="text/css" href="../BIX5/Assets/BIX5Dashboard.css"/>	<!-- BIX5 Dashboard 스타일 --> 

<script type="text/javascript" src="../js/jquery-1.12.4.min.js"></script>		<!-- jQeury 라이브러리 -->
<script type="text/javascript" src="../BIX5/JS/BIX5.js" ></script> 				<!-- BIX5 라이브러리 -->
<script type="text/javascript" src="../BIX5/LicenseKey/BIX5License.js"></script>	<!-- BIX5 라이선스 -->

<script type="text/javascript">

BIX5.chart.create("chart1", "chartHolder1", "", "100%", "100%");
 
var layoutStr =	'<BIX5 backgroundColor="#FFFFFF" borderStyle="none">' +
					'<Column3DChart showDataTips="true">' +
						'<horizontalAxis>' + 
							'<CategoryAxis categoryField="도로 종별"/>' + 
						'</horizontalAxis>' +
						/*						
						'<verticalAxis>' +
							'<LinearAxis maximum="100" interval="10"/>' +
						'</verticalAxis>' +
						*/
						'<series>' + 
							'<Column3DSeries labelPosition="outside" yField="총 연장 길이" displayName="총 연장 길이 Km" outsideLabelYOffset="-14" outsideLabelXOffset="7">' + 
								'<showDataEffect>' +
									'<SeriesInterpolate/>' + 
								'</showDataEffect>' + 
							'</Column3DSeries>' + 
						'</series>' + 
					'</Column3DChart>' + 
				'</BIX5>';
 // 
var chartData = [
					{"도로 종별" : "고속도로", "총 연장 길이" : "11962.427"},
					{"도로 종별" : "국가지원지방도", "총 연장 길이" : "3839.184"},
					{"도로 종별" : "국도", "총 연장 길이" : "14553.002"},
					{"도로 종별" : "기타도로1", "총 연장 길이" : "45626.517"},
					{"도로 종별" : "기타도로2", "총 연장 길이" : "64465.967"},
					{"도로 종별" : "도시고속도로", "총 연장 길이" : "1339.055"},
					{"도로 종별" : "세도로", "총 연장 길이" : "109461.527"},
					{"도로 종별" : "주요도로1", "총 연장 길이" : "10567.279"},
					{"도로 종별" : "주요도로2", "총 연장 길이" : "4436.972"},
					{"도로 종별" : "주요도로3", "총 연장 길이" : "16498.088"},
					{"도로 종별" : "지방도	", "총 연장 길이" : "13314.029"},
					{"도로 종별" : "페리항로", "총 연장 길이" : "4292.122"}
				];
 
function strokeFunction(id, index, data, values){
  if(values[0] == "Paraguay")
     return {
            color : "#000",
         weight : 2
      };
}

BIX5.chart.calls("chart1", {
    "setLayout" : layoutStr,
    "setData" : chartData
});
</script>

</head>

<body>
<!-- 
	<div class="mBox1 h1">
		<div class="tit">
			<div class="ti">도로종별 기준 연장</div>
			<div class="rt">
				<a href="###" class="iRefresh">새로고립</a>
				<a href="###" class="iSet2">세팅</a>
			</div>
		</div>
		<div class="con">
			<div class="co">
				<div id="chartHolder1" class="chartHolder" style="height:270px;"></div>
			</div>
		</div>
	</div>
-->
	<div id="chartHolder1" class="chartHolder" style="width: 100%; height:100%;"></div>
</body>

</html> 