<!DOCTYPE html>
<html>
<head>

<meta name="robots" content="noindex, nofollow" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="Content-Script-Type" content="text/javascript"/>
<meta http-equiv="Content-Style-Type" content="text/css"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>

<title></title>

<link rel="stylesheet" type="text/css" href="../css/pages/common.css">			<!-- 공통 스타일 -->
<link rel="stylesheet" type="text/css" href="../BIX5/Assets/BIX5.css"/>			<!-- BIX5 스타일 -->  
<link rel="stylesheet" type="text/css" href="../BIX5/Assets/BIX5Dashboard.css"/>	<!-- BIX5 Dashboard 스타일 --> 

<script type="text/javascript" src="../js/jquery-1.12.4.min.js"></script>		<!-- jQeury 라이브러리 -->
<script type="text/javascript" src="../BIX5/JS/BIX5.js" ></script> 				<!-- BIX5 라이브러리 -->
<script type="text/javascript" src="../BIX5/LicenseKey/BIX5License.js"></script>	<!-- BIX5 라이선스 -->

<script type="text/javascript">

BIX5.chart.create("chart1", "chartHolder1", "", "100%", "100%");
 
// 스트링 형식으로 레이아웃 정의.
var layoutStr =	'<BIX5 backgroundColor="#FFFFFF" borderStyle="none">' + 
					'<Options>' +
/*					
						'<Caption text="Sales by Month"/>' + 
						'<SubCaption text="( $M )" textAlign="right" />' + 
*/
						'<Legend defaultMouseOverAction="false" />' + 
					'</Options>' + 
					'<Bar3DChart showDataTips="true">' + 
						'<horizontalAxis>' + 
							'<LinearAxis/>' + 
						'</horizontalAxis>' + 
						'<verticalAxis>' + 
							'<CategoryAxis categoryField="도로 종별"/>' +
						'</verticalAxis>' + 
						'<series>' + 
							'<Bar3DSet type="stacked" labelYOffset="-2">' + 
								'<series>' + 
									'<Bar3DSeries labelPosition="inside" showValueLabels="[1]" xField="구축 길이" displayName="구축 길이" color="#ffffff" insideLabelYOffset="-2">' + 
										'<showDataEffect>' + 
											'<SeriesInterpolate/>' + 
										'</showDataEffect>' + 
									'</Bar3DSeries>' + 
									'<Bar3DSeries labelPosition="inside" showValueLabels="[1]" xField="미구축 길이" displayName="미구축 길이" color="#ffffff" insideLabelYOffset="-2">' + 
										'<showDataEffect>' + 
											'<SeriesInterpolate/>' + 
										'</showDataEffect>' + 
									'</Bar3DSeries>' + 
								'</series>' + 
							'</Bar3DSet>' + 
						'</series>' +
					'</Bar3DChart>' + 
				'</BIX5>';
 
// 차트 데이터
var chartData =	[
	{"도로 종별" : "페리항로", "총 길이" : "4292.122", "구축 길이" : "0", "미구축 길이" : "4292.122"},
	{"도로 종별" : "세도로", "총 길이" : "109344.7", "구축 길이" : "9.948", "미구축 길이" : "109334.752"},
	{"도로 종별" : "기타도로2", "총 길이" : "64454.869", "구축 길이" : "3.931", "미구축 길이" : "64450.938"},
	{"도로 종별" : "기타도로1", "총 길이" : "45605.568", "구축 길이" : "24.951", "미구축 길이" : "45580.617"},
	{"도로 종별" : "주요도로3", "총 길이" : "16497.714", "구축 길이" : "31.948", "미구축 길이" : "16465.766"},
	{"도로 종별" : "주요도로2", "총 길이" : "4437.126", "구축 길이" : "9.9", "미구축 길이" : "4427.226"},
	{"도로 종별" : "주요도로1", "총 길이" : "10574.116", "구축 길이" : "539.156", "미구축 길이" : "10034.96"},
	{"도로 종별" : "지방도", "총 길이" : "13313.287", "구축 길이" : "92.195", "미구축 길이" : "13221.092"},
	{"도로 종별" : "국가지원지방도", "총 길이" : "3839.103", "구축 길이" : "122.046", "미구축 길이" : "3717.057"},
	{"도로 종별" : "국도", "총 길이" : "14553.261", "구축 길이" : "1473.609", "미구축 길이" : "13079.652"},
	{"도로 종별" : "도시고속도로", "총 길이" : "1340.008", "구축 길이" : "1262.553", "미구축 길이" : "77.455"},
	{"도로 종별" : "고속도로", "총 길이" : "11962.428", "구축 길이" : "11428.242", "미구축 길이" : "534.186"},
];

BIX5.chart.calls("chart1", {
	"setLayout" : layoutStr,
	"setData" : chartData
});

</script>
</head>

<body>
<!-- 
	<div class="mBox1 h1">
		<div class="tit">
			<div class="ti">도로종별별 HD 구축 연장</div>
			<div class="rt">
				<a href="###" class="iRefresh">새로고립</a>
				<a href="###" class="iSet2">세팅</a>
			</div>
		</div>
		<div class="con">
			<div class="co">
				<div id="chartHolder1" class="chartHolder" style="height:270px;"></div>
			</div>
		</div>
	</div>
-->
	<div id="chartHolder1" class="chartHolder" style="width: 100%; height:100%;"></div>
</body>

</html> 

