<script type="text/javascript">
	widget.componentReadyHandler = function( componentId ) {
		document.getElementById( componentId ).setLayoutURLEx( "./js/pages/widgets/base/Grid/layout/Column_Sorting_JSON.xml" );
		document.getElementById( componentId ).setDataType( "json" );
		document.getElementById( componentId ).setDataURLEx( "./js/pages/widgets/base/Grid/data/Column_Sorting_JSON.json" );
	}
</script>
