<script type="text/javascript">
	widget.componentReadyHandler = function(componentId){
		document.getElementById(componentId).setLayoutURL("./js/pages/widgets/base/Chart/layout/Area_2D_MS.xml");
		document.getElementById(componentId).setDataType("json");
		document.getElementById(componentId).setDataURL("./js/pages/widgets/base/Chart/data/Area_2D_MS.json");
	}
</script>
