<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmns.test.mapper.TestAgentMapper">
	<!-- 모니터링 목록 조회 결과 컬림 -->
	<select id="selectServerResourceList" resultType="HashMap">
		SELECT
			*
		FROM
			AGENT_SERVER_RESOURCE
	</select>


	<!--  <select id="processListMap" parameterType="map" resultType="map">
		SELECT
			PROCESS_NAME, CPU_USAGE, FORMAT(INSERT_DATE, 'yyyy-MM-dd hh:mm') AS INSERT_DATE
		FROM
			AGENT_SERVER_RESOURCE_PROCESS
	</select> -->
	
	<select id="processListMap" resultType="HashMap">
		SELECT 
			TOP 501 SERVER_SEQ, SERVER_PROCESS_SEQ, PROCESS_NAME, CPU_USAGE, MEMORY_USAGE, FORMAT(INSERT_DATE,'yyyy-MM-dd hh:mm:ss') AS INSERT_DATE
		FROM 
			AGENT_SERVER_RESOURCE_PROCESS 
		WHERE 
			INSERT_DATE BETWEEN '2020-02-14' AND '2020-02-18' 
		ORDER BY SERVER_SEQ ASC
	</select>
	
	
	<select id="pcListMap" resultType="HashMap">
	SELECT
		 TOP 200 SERVER_SEQ, SERVER_IP, CPU_USAGE, MEMORY_USAGE, MEMORY_MAX, FLOOR(MEMORY_USAGE/MEMORY_MAX*100) AS MEMORY_CONVERT, FORMAT(INSERT_DATE, 'yyyy-MM-dd hh:mm:ss') AS INSERT_DATE
	FROM 
		AGENT_SERVER_RESOURCE 
	WHERE
		INSERT_DATE BETWEEN '2020-02-14' AND '2020-02-18'
	ORDER BY
		SERVER_SEQ ASC
	</select>
	
	
 	<select id="hddListMap" resultType="HashMap">
	SELECT
		 TOP 4 SERVER_SEQ, SERVER_HDD_SEQ, HDD_NAME, HDD_USAGE, HDD_MAX, (HDD_USAGE/HDD_MAX)*100 AS HDD_CONVERT,
		 FORMAT(INSERT_DATE, 'yyyy-MM-dd hh:mm:ss') AS INSERT_DATE
	FROM 
		AGENT_SERVER_RESOURCE_HDD 
	WHERE
		INSERT_DATE BETWEEN '2020-02-14' AND '2020-02-18'
	ORDER BY
		SERVER_SEQ DESC, SERVER_HDD_SEQ ASC
	</select> 
	
	
	<select id="hddListMap2" resultType="HashMap">
	SELECT
		 TOP 4 SERVER_SEQ, SERVER_HDD_SEQ, HDD_NAME, HDD_USAGE, HDD_MAX, FLOOR((HDD_USAGE/HDD_MAX)*100) AS HDD_CONVERT,
		 FORMAT(INSERT_DATE, 'yyyy-MM-dd hh:mm:ss') AS INSERT_DATE
	FROM 
		AGENT_SERVER_RESOURCE_HDD 
	WHERE
		INSERT_DATE BETWEEN '2020-02-14' AND '2020-02-18'
	ORDER BY
		SERVER_SEQ DESC, SERVER_HDD_SEQ ASC
	</select>
	

</mapper>